/* global */

* {
    margin: 0;
}


/* books.html */
.page {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}

.page__title {
    padding: 24px;
}

.page__tools {
    display: flex;
    align-items: center;
    padding: 12px 24px;
}

.page__modal {
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0000004d;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.page__modal.show-modal {
    pointer-events: auto;
    opacity: 1;
}

.modal__content {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
}

.modal__close {
    display: flex;
    justify-content: flex-end;
}