/* global */

* {
    margin: 0;
    font-family: "BlinkMacSystemFont", "Segoe UI"," Roboto"," Oxygen"," Ubuntu"," Cantarell"," Fira Sans"," Droid Sans"," Helvetica Neue", sans-serif;

}

.page {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.page__title {
    padding: 24px;
}

.page__section {
    display: flex;
}

.page__main {
    padding: 12px 24px;
}

.table-container {
    height: 100vh;
    overflow: scroll;
}

.table {
    max-width: 100%;
}

/* navbar.html */
.sidebar {
    box-sizing: border-box;
    width: 240px;
    height: 100vh;
    background: #ffffff;
    overflow: hidden;
    border: 1px solid #e2e6e9;
}

.sidebar-nav {
    margin: 0;
    padding: 0;
}

.sidebar-item {
    width: 100%;
    list-style: none;
}

.sidebar-link {
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #0e69b9;
    transition: all 0.1s;
}

.sidebar-link:hover {
    background: #e2e2e2;
}

.icon {
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.icon .fas {
    font-size: 24px;
}

.title {
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}



/* books.html */
.page__tools {
    display: flex;
    align-items: center;
}

.page__modal {
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0000004d;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.page__modal.show-modal {
    pointer-events: auto;
    opacity: 1;
}

.modal__content {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
}

.modal__close {
    display: flex;
    justify-content: flex-end;
}