/* global */

* {
    margin: 0;
    font-family: "BlinkMacSystemFont", "Segoe UI"," Roboto"," Oxygen"," Ubuntu"," Cantarell"," Fira Sans"," Droid Sans"," Helvetica Neue", sans-serif;

}

.page {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.page__title {
    padding: 24px;
    background: #f1f1f1;
    color: #525151;
}

.page__subheading {
    color: #525151;
    margin: 24px 0;
    font-size: 32px;
}

.page__section {
    display: flex;
}

.page__main {
    width: 100%;
    padding: 12px 24px;
}

.table-container {
    height: 54vh;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #e7e7e7;
    max-width: 100%;
}

.table {
    width: 100%;
    box-sizing: border-box;
    border-spacing: 0;
    border-bottom: 1px solid #e7e7e7;
}

.table thead {
    height: 50px;
    background-color: #bbd3e9;
}

.table__column {
    border-right: 1px solid #e7e7e7;
}

.page__tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
}

.page__tools__button {
    border: none;
    border-radius: 4px;
    width: 148px;
    height: 36px;
    color: #ffffff;
    font-weight: 600;
    background-color: #0e69b9;
}

.tools__label {
    color: #525151;
}


/* navbar.html */
.sidebar {
    box-sizing: border-box;
    width: 240px;
    height: 100vh;
    background: #ffffff;
    overflow: hidden;
    border: 1px solid #e2e6e9;
}

.sidebar-nav {
    margin: 0;
    padding: 0;
}

.sidebar-item {
    width: 100%;
    list-style: none;
}

.sidebar-link {
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #0e69b9;
    transition: all 0.1s;
}

.sidebar-link:hover {
    background: #e2e2e2;
}

.icon {
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.icon .fas {
    font-size: 24px;
}

.title {
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}


/* books.html */
.page__modal {
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0000004d;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.page__modal.show-modal {
    pointer-events: auto;
    opacity: 1;
}

.modal__content {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
}

.modal__close {
    display: flex;
    justify-content: flex-end;
}


/* Transactions */
.transaction__divisions {
    display: flex;
}

.transaction__container {
    width: 24em;
    display: flex;
    flex-direction: column;
}

.transaction__table {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.transaction__form {
    padding: 8px 0;
}

.transaction__form__item {
    display: flex;
    flex-direction: column;
    padding: 4px 0;
}

.transaction__detail {
    margin: 16px 0;
    padding: 12px;
    background-color: #f7f7f7;
    border-radius: 8px;
}


/* Homepage */
.homepage__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 64px;
}

.homepage__image {
    width: 200px;
    height: auto;
}

.homepage__heading {
    text-align: center;
    width: 60%;
    line-height: 40px;
    color: #525151;
}

.homepage__para {
    margin-top: 16px;
    color: #0e69b9;
}

/* Members */
.member__tools{
    display: flex;
    justify-content: flex-end;
}
