<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="shortcut icon" href="#" />
    <title>Books</title>
    <script
      src="https://kit.fontawesome.com/c20afc23a5.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="page">
      <div class="page__modal" id="modal">
        <div class="modal__content">
          <div class="modal__close">
            <button class="modal__close__button" id="close-modal">
              &times;
            </button>
          </div>
          <form action="/add-book" method="post">
             <div>
              <label for="book_id">Book ID</label>
              <input type="text" name="book_id" id="book_id" required />
            </div>
            <div>
              <label for="title">Title</label>
              <input type="text" name="title" id="title" required />
            </div>
            <div>
              <label for="authors">Authors</label>
              <input type="text" name="authors" id="authors" required />
            </div>
            <div>
              <label for="isbn">ISBN</label>
              <input type="text" name="isbn" id="isbn" required />
            </div>
            <div>
              <label for="publisher">Publisher</label>
              <input type="text" name="publisher" id="publisher" required />
            </div>
            <div>
              <label for="quantity">Quantity</label>
              <input type="number" name="quantity" id="quantity" required />
            </div>
            <button type="submit">Add Book</button>
          </form>
        </div>
      </div>

      {% include 'title.html' %}

      <div class="page__section">
        {% include 'navbar.html' %}

        <div class="page__main">
          <h2>Books</h2>
          <div class="page__tools">
            <button id="open-modal">
              Add New Book
            </button>
            <div class="search-wrapper">
              <label for="search">Search Books</label>
              <input type="search" id="search-input" onkeyup="searchBook()">
            </div>
          </div>

          <div class="table-container">
            <table class="table" id="books-table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Title</th>
                  <th>Author</th>
                  <th>ISBN</th>
                  <th>Publisher</th>
                  <th>Quantity</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for book in books %}
                <tr>
                  <td>{{ book.bookID }}</td>
                  <td class="book-title">{{ book.title }}</td>
                  <td class="book-authors">{{ book.authors }}</td>
                  <td>{{ book.isbn }}</td>
                  <td>{{ book.publisher }}</td>
                  <td>{{ book.no_of_copies_total}}</td>
                  <td><span class="icon"><a href="/delete-book/{{ book.bookID }}"><i class="fas fa-trash"></i></span></a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          <details>
            <summary>Edit Book Details</summary>
            <p>Enter only the fields which you want to change.</p>
            <form action="/edit-book" method="post">
              <div>
                <label for="book-id">Book ID</label>
                <input type="text" name="book-id" placeholder="Book ID" required />
              </div>
              <div>
                <label for="title">Title</label>
                <input type="text" name="title" placeholder="New Book Title" />
              </div>
              <div>
                <label for="authors">Authors</label>
                <input type="text" name="authors" placeholder="New Authors" />
              </div>
              <div>
                <label for="isbn">ISBN</label>
                <input type="text" name="isbn" placeholder="New ISBN" />
              </div>
              <div>
                <label for="publisher">Publisher</label>
                <input type="text" name="publisher" placeholder="New Publisher" />
              </div>
              <div>
                <label for="quantity">Quantity</label>
                <input type="number" name="quantity" placeholder="Add Additional Stock" required />
              </div>
              <button type="submit">Update</button>
            </form>
          </details>
        </div>
      </div>
    </div>

    <script src="/static/js/utils.js"></script>
    <script src="/static/js/books.js" defer></script>
  </body>
</html>
