<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="shortcut icon" href="#" />
    <title>Books</title>
    <script
      src="https://kit.fontawesome.com/c20afc23a5.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="page">
      <div class="page__modal" id="modal">
        <div class="modal__content">
          <div class="modal__close">
            <button class="modal__close__button" id="close-modal">
              <i class="fas fa-times"></i>
            </button>
          </div>
          <form action="/add-book" method="post" class="modal__form">
             <div class="modal-form__item">
              <label for="book_id">Book ID</label>
              <input type="text" name="book_id" id="book_id" required />
            </div>
            <div class="modal-form__item">
              <label for="title">Title</label>
              <input type="text" name="title" id="title" required />
            </div>
            <div class="modal-form__item">
              <label for="authors">Authors</label>
              <input type="text" name="authors" id="authors" required />
            </div>
            <div class="modal-form__item">
              <label for="isbn">ISBN</label>
              <input type="text" name="isbn" id="isbn" required />
            </div>
            <div class="modal-form__item">
              <label for="publisher">Publisher</label>
              <input type="text" name="publisher" id="publisher" required />
            </div>
            <div class="modal-form__item">
              <label for="quantity">Quantity</label>
              <input type="number" name="quantity" id="quantity" required />
            </div>
            <button type="submit" class="page__tools__button modal-form__submit">Add Book</button>
          </form>
        </div>
      </div>

      {% include 'title.html' %}

      <div class="page__section">
        {% include 'navbar.html' %}

        <div class="page__main">
          <h2 class="page__subheading">Books</h2>
          <div class="page__tools">
            <div class="search-wrapper">
              <label for="search" class="tools__label">Search Books</label>
              <input type="search" id="search-input" onkeyup="searchBook()">
            </div>
            <button id="open-modal" class="page__tools__button">
              Add New Book
            </button>
          </div>

          <div class="table-container">
            <table class="table" id="books-table">
              <thead>
                <tr>
                  <th class="table__column">ID</th>
                  <th class="table__column">Title</th>
                  <th class="table__column">Author</th>
                  <th class="table__column">ISBN</th>
                  <th class="table__column">Publisher</th>
                  <th class="table__column">Quantity</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for book in books %}
                <tr>
                  <td class="table__column column__numbers" >{{ book.bookID }}</td>
                  <td class="table__column column__text book-title">{{ book.title }}</td>
                  <td class="table__column column__text book-authors">{{ book.authors }}</td>
                  <td class="table__column column__numbers">{{ book.isbn }}</td>
                  <td class="table__column column__text">{{ book.publisher }}</td>
                  <td class="table__column column__numbers">{{ book.no_of_copies_total}}</td>
                  <td><span class="icon"><a href="/delete-book/{{ book.bookID }}" class="delete-icon"><i class="fas fa-trash"></i></span></a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          <details class="edit-details">
            <summary>Edit Book Details</summary>
            <p class="edit-para">Enter only the fields which you want to change.</p>
            <form action="/edit-book" method="post" class="form-details">
              <div class="form-details__item">
                <label for="book-id">Book ID</label>
                <input type="text" name="book-id" placeholder="Book ID" required />
              </div>
              <div class="form-details__item">
                <label for="title">Title</label>
                <input type="text" name="title" placeholder="New Book Title" />
              </div>
              <div class="form-details__item">
                <label for="authors">Authors</label>
                <input type="text" name="authors" placeholder="New Authors" />
              </div>
              <div class="form-details__item">
                <label for="isbn">ISBN</label>
                <input type="text" name="isbn" placeholder="New ISBN" />
              </div>
              <div class="form-details__item">
                <label for="publisher">Publisher</label>
                <input type="text" name="publisher" placeholder="New Publisher" />
              </div>
              <div class="form-details__item">
                <label for="quantity">Quantity</label>
                <input type="number" name="quantity" placeholder="Add Additional Stock" required />
              </div>
              <button type="submit" class="page__tools__button form-details__item">Update</button>
            </form>
          </details>
        </div>
      </div>
    </div>

    <script src="/static/js/utils.js"></script>
    <script src="/static/js/books.js" defer></script>
  </body>
</html>
