<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="shortcut icon" href="#">
    <title>Members</title>
    <script
      src="https://kit.fontawesome.com/c20afc23a5.js"
      crossorigin="anonymous"
    ></script>
</head>
<body>
  <div class="page">
    <div class="page__modal" id="modal">
      <div class="modal__content">
        <div class="modal__close">
          <button class="modal__close__button" id="close-modal">
            &times;
          </button>
        </div>
        <form>
          <div>
            <label>First Name</label>
            <input type="text"/>
          </div>
          <div>
            <label>Last Name</label>
            <input type="text" />
          </div>
          <div>
            <label>Member ID</label>
            <input type="number" />
          </div>
          <button>Add Member</button>
        </form>
      </div>
    </div>

    {% include 'title.html' %}

    <div class="page__section">
        {% include 'navbar.html' %}

        <div class="page__main">
            <h2>Members</h2>
            <div class="page__tools">
                <button id="open-modal">
                  Add New Member
                </button>
              </div>
        </div>
    </div>
  </div>
    <script src="/static/js/utils.js"></script>
</body>
</html>