<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="shortcut icon" href="#">
    <title>Transactions</title>
    <script
      src="https://kit.fontawesome.com/c20afc23a5.js"
      crossorigin="anonymous"
    ></script>
</head>
<body>
    {% include 'title.html' %}

    <div class="page__section">
        {% include 'navbar.html' %}

        <div class="page__main">
            <h2>Transactions</h2>
            <div>
                <details>
                    <summary>Issue Book</summary>
                </details>
                <details>
                    <summary>Return Book</summary>
                </details>
                <details>
                    <summary>Clear Outstanding Debt</summary>
                </details>
            </div>
        </div>
    </div>
</body>
</html>