<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="shortcut icon" href="#" />
    <title>Transactions</title>
    <script
      src="https://kit.fontawesome.com/c20afc23a5.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="page">
      {% include 'title.html' %}

      <div class="page__section">
        {% include 'navbar.html' %}

        <div class="page__main">
          <h2 class="page__subheading">Transactions</h2>
          <div class="transaction__divisions">
            <div class="transaction__container">
              <details class="transaction__detail">
                <summary>Issue Book</summary>
                <form class="transaction__form" action="/issue-book" method="post">
                  <div class="transaction__form__item">
                    <label for="username">Username</label>
                    <input type="text" name="username" required />
                  </div>
                  <div class="transaction__form__item">
                    <label for="book-id">Book ID</label>
                    <input type="text" name="book-id" required />
                  </div>
                  <div class="transaction__form__item">
                    <label for="date-of-issue">Date of Issue</label>
                    <input type="date" name="date-of-issue" required />
                  </div>
                  <button type="submit" class="page__tools__button">Issue Book</button>
                </form>
              </details>
              <details class="transaction__detail">
                <summary>Return Book</summary>
                <form class="transaction__form" action="/return-book" method="post">
                  <div class="transaction__form__item">
                    <label for="username">Username</label>
                    <input type="text" name="username" required />
                  </div>
                  <div class="transaction__form__item">
                    <label for="date-of-return">Date of Return</label>
                    <input type="date" name="date-of-return" required />
                  </div>
                  <button type="submit" class="page__tools__button">Return Book</button>
                </form>
              </details>
              <details class="transaction__detail">
                <summary>Clear Outstanding Debt</summary>
                <form class="transaction__form" action="/clear-debt" method="post">
                  <div class="transaction__form__item">
                    <label for="username">Username</label>
                    <input type="text" name="username" required />
                  </div>
                  <button type="submit" class="page__tools__button">Clear Outstanding Debt</button>
                </form>
              </details>
            </div>
            <div class="transaction__table table-container">
              <table class="table">
                <thead>
                  <tr>
                    <th class="table__column">Member</th>
                    <th class="table__column">Book Borrowed</th>
                    <th class="table__column">Authors</th>
                    <th class="table__column">Date of Issue</th>
                    <th class="table__column">Due Date</th>
                    <th class="table__column">Date of Return</th>
                  </tr>
                </thead>
                <tbody>
                  {% for transaction in transactions_list %}
                  <tr>
                    <td class="table__column column__text">{{ transaction.username }}</td>
                    <td class="table__column column__text">{{ transaction.title }}</td>
                    <td class="table__column column__text">{{ transaction.authors }}</td>
                    <td class="table__column column__numbers date">
                      {% if transaction.date_of_issue is not none %}
                        {{ transaction.date_of_issue.date() }}
                      {% else %}
                        None
                      {% endif%}
                    </td>
                    <td class="table__column column__numbers date">
                      {% if transaction.due_date is not none %}
                        {{ transaction.due_date.date() }}
                      {% else %}
                        None
                      {% endif%}
                    </td>
                    <td class="table__column column__numbers date">
                      {% if transaction.date_of_return is not none %}
                        {{ transaction.date_of_return.date() }}
                      {% else %}
                        None
                      {% endif%}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
